/.idea
/.devspace
/kubeconfig.yaml
.devspace/
.DS_Store
profile.out
*.swp
/vcluster
/zzz
/cmd/vclusterctl/__debug_bin
/release
/cmd/vclusterctl/cmd/charts/
/pkg/embed/chart/vcluster-*
/dist
*.test
tests/__snapshot__
/licenses
custom-gcl
