[build]
base = "docs/"
publish = "public/"
command = """
    set -e

    yarn build
    mkdir -p public/docs
    mv build/ public/docs/v0.19
  """

[build.processing]
skip_processing = false

[build.processing.html]
pretty_urls = true

[build.processing.css]
bundle = false
minify = false

[build.processing.js]
bundle = false
minify = false

[build.processing.images]
compress = true
