apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: vcluster
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
{{- if .Values.labels }}
{{ toYaml .Values.labels | indent 4 }}
{{- end }}
  {{- if .Values.annotations }}
  annotations:
{{ toYaml .Values.annotations | indent 4 }}
  {{- end }}
spec:
  serviceName: {{ .Release.Name }}-headless
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: vcluster
      release: {{ .Release.Name }}
  {{- if .Values.storage.persistence }}
  {{- if not .Values.storage.volumeClaimTemplates }}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: {{ .Values.storage.className }}
        resources:
          requests:
            storage: {{ .Values.storage.size }}
  {{- else }}
  volumeClaimTemplates:
{{ toYaml .Values.volumeClaimTemplates | indent 4 }}
  {{- end }}
  {{- end }}
  template:
    metadata:
      labels:
        app: vcluster
        release: {{ .Release.Name }}
    spec:
      terminationGracePeriodSeconds: 10
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      {{- if .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- else }}
      serviceAccountName: vc-{{ .Release.Name }}
      {{- end }}
      volumes:
      {{- if or .Values.securityContext.runAsUser .Values.securityContext.runAsNonRoot }}
        - name: helm-cache
          emptyDir: {}
        - name: tmp
          emptyDir: {}
      {{- end }}
        - name: config
          emptyDir: {}
      {{- if .Values.volumes }}
{{ toYaml .Values.volumes | indent 8 }}
      {{- end }}
      {{- if .Values.coredns.enabled }}
        - name: coredns
          configMap:
            name: {{ .Release.Name }}-coredns
      {{- end }}
      {{- if not .Values.storage.persistence }}
        - name: data
          emptyDir: {}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- if .Values.fsGroup }}
      securityContext:
        fsGroup: {{ .Values.fsGroup }}
      {{- end }}
      containers:
      {{- if not .Values.vcluster.disabled }}
      - image: {{ .Values.defaultImageRegistry }}{{ .Values.vcluster.image }}
        name: vcluster
        # k3s has a problem running as pid 1 and disabled agents on cgroupv2
        # nodes as it will try to evacuate the cgroups there. Starting k3s
        # through a shell makes it non pid 1 and prevents this from happening
        command:
          - /bin/sh
        args:
          - -c
          - {{ range $f := .Values.vcluster.command -}}
            {{ $f }}
            {{- end }}
          {{- range $f := .Values.vcluster.baseArgs }}
            {{ $f }}
          {{- end }}
          {{- if not .Values.sync.nodes.enableScheduler }}
            --disable-scheduler
            --kube-controller-manager-arg=controllers=*,-nodeipam,-nodelifecycle,-persistentvolume-binder,-attachdetach,-persistentvolume-expander,-cloud-node-lifecycle
            --kube-apiserver-arg=endpoint-reconciler-type=none
          {{- else }}
            --kube-controller-manager-arg=controllers=*,-nodeipam,-persistentvolume-binder,-attachdetach,-persistentvolume-expander,-cloud-node-lifecycle
            --kube-apiserver-arg=endpoint-reconciler-type=none
            --kube-controller-manager-arg=node-monitor-grace-period=1h
            --kube-controller-manager-arg=node-monitor-period=1h
          {{- end }}
          {{- if .Values.serviceCIDR }}
            --service-cidr={{ .Values.serviceCIDR }}
          {{- else }}
            --service-cidr=$(SERVICE_CIDR)
          {{- end }}
          {{- range $f := .Values.vcluster.extraArgs }}
            {{ $f }}
          {{- end }}
            && true
        env:
          {{- if .Values.vcluster.env }}
{{ toYaml .Values.vcluster.env | indent 10 }}
          {{- end }}
          {{- if not .Values.serviceCIDR }}
          - name: SERVICE_CIDR
            valueFrom:
              configMapKeyRef:
                name: "vc-cidr-{{ .Release.Name }}"
                key: cidr
          {{- end }}
        securityContext:
{{ toYaml .Values.securityContext | indent 10 }}
        volumeMounts:
          - name: config
            mountPath: /etc/rancher
{{ toYaml .Values.vcluster.volumeMounts | indent 10 }}
        resources:
{{ toYaml .Values.vcluster.resources | indent 10 }}
      {{- end }}
      {{- if not .Values.syncer.disabled }}
      - name: syncer
        {{- if .Values.syncer.image }}
        image: "{{ .Values.defaultImageRegistry }}{{ .Values.syncer.image }}"
        {{- else }}
        image: "{{ .Values.defaultImageRegistry }}loftsh/vcluster:{{ .Chart.Version }}"
        {{- end }}
        {{- if .Values.syncer.workingDir }}
        workingDir: {{ .Values.syncer.workingDir }}
        {{- end }}
        {{- if .Values.syncer.command }}
        command:
        {{- range $f := .Values.syncer.command }}
        - {{ $f | quote }}
        {{- end }}
        {{- end }}
        {{- if not .Values.syncer.noArgs }}
        args:
          - --name={{ .Release.Name }}
          - --service-account=vc-workload-{{ .Release.Name }}
          {{- range $key, $container := .Values.plugin }}
          {{- if not $container.optional }}
          - --plugins={{ $key }}
          {{- end }}
          {{- end }}
          {{- if .Values.sync.nodes.enableScheduler }}
          - --enable-scheduler
          {{- end }}
          {{- if .Values.defaultImageRegistry }}
          - --default-image-registry={{ .Values.defaultImageRegistry }}
          {{- end }}
          {{- if .Values.syncer.kubeConfigContextName }}
          - --kube-config-context-name={{ .Values.syncer.kubeConfigContextName }}
          {{- end }}
          {{- if .Values.ingress.enabled }}
          - --tls-san={{ .Values.ingress.host }}
          {{- end }}
          {{- if .Values.isolation.enabled }}
          - --enforce-pod-security-standard={{ .Values.isolation.podSecurityStandard }}
          {{- end}}
          {{- include "vcluster.syncer.syncArgs" . | indent 10 }}
          {{- if .Values.sync.nodes.syncAllNodes }}
          - --sync-all-nodes
          {{- end }}
          {{- if .Values.sync.nodes.nodeSelector }}
          - --node-selector={{ .Values.sync.nodes.nodeSelector }}
          {{- end }}
          {{- range $f := .Values.syncer.extraArgs }}
          - {{ $f | quote }}
          {{- end }}
          {{- include "vcluster.serviceMapping.fromHost" . | indent 10 }}
          {{- include "vcluster.serviceMapping.fromVirtual" . | indent 10 }}
        {{- else }}
        args:
{{ toYaml .Values.syncer.extraArgs | indent 10 }}
        {{- end }}
        {{- if .Values.syncer.livenessProbe }}
        {{- if .Values.syncer.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8443
            scheme: HTTPS
          failureThreshold: 60
          initialDelaySeconds: 60
          periodSeconds: 2
        {{- end }}
        {{- end }}
        {{- if .Values.syncer.readinessProbe }}
        {{- if .Values.syncer.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8443
            scheme: HTTPS
          failureThreshold: 60
          periodSeconds: 2
        {{- end }}
        {{- end }}
        securityContext:
{{ toYaml .Values.securityContext | indent 10 }}
        env:          
          {{- if .Values.syncer.env }}
{{ toYaml .Values.syncer.env | indent 10 }}
          {{- end }}
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          {{- if eq (.Values.replicas | toString | atoi) 1 }}
          - name: VCLUSTER_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          {{- end }}
        volumeMounts:
        {{- if or .Values.securityContext.runAsUser .Values.securityContext.runAsNonRoot }}
          - name: helm-cache
            mountPath: /.cache/helm
          - name: tmp
            mountPath: /tmp
        {{- end }}
        {{- if .Values.coredns.enabled }}
          - name: coredns
            mountPath: /manifests/coredns
            readOnly: true
        {{- end }}
{{ toYaml .Values.syncer.volumeMounts | indent 10 }}
        resources:
{{ toYaml .Values.syncer.resources | indent 10 }}
      {{- end }}
      {{- $counter := -1 -}}
      {{- range $key, $container := .Values.plugin }}
      {{- $counter = add1 $counter }}
      - image: {{ $.Values.defaultImageRegistry }}{{ $container.image }}
        {{- if $container.name }}
        name: {{ $container.name | quote }}
        {{- else }}
        name: {{ $key | quote }}
        {{- end }}
        {{- if $container.imagePullPolicy }}
        imagePullPolicy: {{ $container.imagePullPolicy }}
        {{- end }}
        {{- if $container.workingDir }}
        workingDir: {{ $container.workingDir }}
        {{- end }}
        {{- if $container.command }}
        command:
          {{- range $commandIndex, $command := $container.command }}
          - {{ $command | quote }}
          {{- end }}
        {{- end }}
        {{- if $container.args }}
        args:
          {{- range $argIndex, $arg := $container.args }}
          - {{ $arg | quote }}
          {{- end }}
        {{- end }}
        {{- if $container.terminationMessagePath }}
        terminationMessagePath: {{ $container.terminationMessagePath }}
        {{- end }}
        {{- if $container.terminationMessagePolicy }}
        terminationMessagePolicy: {{ $container.terminationMessagePolicy }}
        {{- end }}
        env:
          - name: VCLUSTER_PLUGIN_ADDRESS
            value: "localhost:{{ add 14000 $counter }}"
          - name: VCLUSTER_PLUGIN_NAME
            value: "{{ $key }}"
        {{- if $container.env }}
{{ toYaml $container.env | indent 10 }}
        {{- end }}
        envFrom:
{{ toYaml $container.envFrom | indent 10 }}
        securityContext:
{{ toYaml $container.securityContext | indent 10 }}
        lifecycle:
{{ toYaml $container.lifecycle | indent 10 }}
        livenessProbe:
{{ toYaml $container.livenessProbe | indent 10 }}
        readinessProbe:
{{ toYaml $container.readinessProbe | indent 10 }}
        startupProbe:
{{ toYaml $container.startupProbe | indent 10 }}
        volumeDevices:
{{ toYaml $container.volumeDevices | indent 10 }}
        volumeMounts:
{{ toYaml $container.volumeMounts | indent 10 }}
        {{- if $container.resources }}
        resources:
{{ toYaml $container.resources | indent 10 }}
        {{- end }}
        {{- end }}