## Compatibility Matrix for %s distro

The following table provides a compatibility matrix of which k8s version are supported aginst which vcluster distro versions:

%s

Legend:

:warning: : known issue

:white_check_mark: : recommended

:ok: : likely compatible

