## Compatibility Matrix for %s distro

Compatibility matrix showing which host k8s version (left column) is supported by which vCluster %s distro versions.

%s

Legend:

:warning: : known issue

:white_check_mark: : recommended

:ok: : likely compatible

