name: Matrix compatibility

on:
  release:
    types: [created]
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  go-unit-test:
    name: Generate the compatibility matrix
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Set up Go 1.21
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: false
      - name: run compat
        run: go run hack/compat-matrix/main.go validate docs/pages/deploying-vclusters/compat-matrix.mdx
