name: E2E tests

on:
  release:
    types: [created]
  pull_request:
    branches:
      - main
    paths:
      - "Dockerfile"
      - "**.go"
      - "!**_test.go" # exclude test files to ignore unit test changes
      - "e2e/**_test.go" # include test files in e2e again
      - ".github/workflows/e2e-tests.yaml"

jobs:
  e2e:
    name: Execute testsuite
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distribution: ["k3s", "k8s", "k0s"]
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Set up kind with K8s version v1.21.1
      uses: engineerd/setup-kind@v0.5.0
      with:
        version: "v0.11.1"
        image: kindest/node:v1.21.1
    - name: Testing kind cluster set-up
      run: |
          kubectl cluster-info
          kubectl get pods -n kube-system
          echo "kubectl config current-context:" $(kubectl config current-context)
          echo "KUBECONFIG env var:" ${KUBECONFIG}
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: Setup DevSpace
      uses: loft-sh/setup-devspace@main

    - name: Deploy vcluster
      run: devspace run deploy -p ${{ matrix.distribution}} -p kind-load -p no-cpu-requests --skip-push

    - name: Wait until vcluster is ready
      id: wait-until-vcluster-is-ready
      run: kubectl wait --for=condition=ready pod -l app=vcluster -n vcluster --timeout=300s
      continue-on-error: true
    
    - name: Collect deployment information in case vcluster fails to start
      if: steps.wait-until-vcluster-is-ready.outcome == 'failure'
      run: |
        kubectl get pods -o yaml -n vcluster
        kubectl get events -n vcluster
        exit 1

    - name: Execute e2e tests
      working-directory: ./e2e
      run: VCLUSTER_SUFFIX=vcluster go test -v -ginkgo.v