name: Unit tests

on:
  release:
    types: [created]
  pull_request:
    branches:
      - main
    paths:
      - "**.go"
      - "!test/**" # exclude changes in e2e tests
      - ".github/workflows/unit-tests.yaml"
      - "hack/test.sh"
      - "charts/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  helm-unit-tests:
    name: Execute all helm tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Helm Unit Test Plugin
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest
      - name: Run Helm Unit Tests
        run: |
          helm unittest chart

  go-unit-test:
    name: Execute all go tests
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: false
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Execute unit tests
        run: ./hack/test.sh
